xcode/kitsune/build/kitsune.build/Debug/kitsune.build/kitsune~.dep
xcode/kitsune/build/kitsune.build/Debug/kitsune.build/libkitsune-all-target-headers.hmap
xcode/kitsune/build/kitsune.build/Debug/kitsune.build/libkitsune-generated-files.hmap
xcode/kitsune/build/kitsune.build/Debug/kitsune.build/libkitsune-own-target-headers.hmap
xcode/kitsune/build/kitsune.build/Debug/kitsune.build/libkitsune-project-headers.hmap
xcode/kitsune/build/kitsune.build/Debug/kitsune.build/libkitsune.hmap
xcode/kitsune/build/kitsune.build/kitsune.pbxindex/categories.pbxbtree
xcode/kitsune/build/kitsune.build/kitsune.pbxindex/cdecls.pbxbtree
xcode/kitsune/build/kitsune.build/kitsune.pbxindex/decls.pbxbtree
xcode/kitsune/build/kitsune.build/kitsune.pbxindex/files.pbxbtree
xcode/kitsune/build/kitsune.build/kitsune.pbxindex/imports.pbxbtree
xcode/kitsune/build/kitsune.build/kitsune.pbxindex/pbxindex.header
xcode/kitsune/build/kitsune.build/kitsune.pbxindex/protocols.pbxbtree
xcode/kitsune/build/kitsune.build/kitsune.pbxindex/refs.pbxbtree
xcode/kitsune/build/kitsune.build/kitsune.pbxindex/strings.pbxstrings/control
xcode/kitsune/build/kitsune.build/kitsune.pbxindex/strings.pbxstrings/strings
xcode/kitsune/build/kitsune.build/kitsune.pbxindex/subclasses.pbxbtree
xcode/kitsune/build/kitsune.build/kitsune.pbxindex/symbols0.pbxsymbols
xcode/kitsune/build/Debug/libkitsune.dylib
xcode/kitsune/build/kitsune.build/Debug/kitsune.build/Objects-normal/x86_64/core.o
xcode/kitsune/build/kitsune.build/Debug/kitsune.build/Objects-normal/x86_64/core.o~>
xcode/kitsune/build/kitsune.build/Debug/kitsune.build/Objects-normal/x86_64/core.o~?
xcode/kitsune/build/kitsune.build/Debug/kitsune.build/Objects-normal/x86_64/kitsune.o
xcode/kitsune/build/kitsune.build/Debug/kitsune.build/Objects-normal/x86_64/libkitsune.LinkFileList
xcode/kitsune/build/kitsune.build/Debug/kitsune.build/Objects-normal/x86_64/object.o
xcode/kitsune/build/kitsune.build/Debug/kitsune.build/build-state.dat
xcode/kitsune/build/kitsune.build/Debug/kitsune.build/build-state~.dat
xcode/kitsune/build/kitsune.build/Debug/kitsune.build/kitsune.dep
xcode/kitsune/kitsune.xcodeproj/seanc.mode1v3
xcode/kitsune/kitsune.xcodeproj/seanc.pbxuser
xcode/kitsune/build/kitsune.build/Debug/kitsune.build/Objects-normal/x86_64/object.o~$
xcode/kitsune/build/kitsune.build/Debug/kitsune.build/Objects-normal/x86_64/object.o~>
xcode/kitsune/build/kitsune.build/Debug/kitsune.build/Objects-normal/x86_64/object.o~?